h5py
gunicorn
pyabf==2.2.8
pg8000
methodtools
fsspec
dash
dash-core-components
dash-bootstrap-components
plotly
scikit-learn
numpy
scipy
pandas
allensdk
dandi
dash-table
git+https://github.com/smestern/pyAPisolation.git