allensdk==2.13.6
dandi==0.35.0
dash==2.7.1
dash_bootstrap_components==1.2.1
dash_core_components==2.0.0
dash_html_components==2.0.0
dash_table==5.0.0
fsspec==2022.5.0
h5py==2.10.0
IPFX==1.0.5
joblib==1.1.0
matplotlib==3.6.2
numpy==1.17.4
pandas==0.25.3
plotly==5.5.0
pyabf==2.2.8
pynwb==1.5.1
scikit_learn>=1.2.0
scipy==1.7.3
umap==0.1.1
